/*$color__background-section: #ffffff;*/
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.wrap.ripple_wp h1 {
  text-align: center;
  color: #d50943; }

.wrap.ripple_wp button {
  color: #fff; }

.wrap.ripple_wp th {
  padding: 10px; }

.wrap.ripple_wp a.button {
  border-radius: 8px;
  background: #8c072c;
  color: #fff;
  text-transform: uppercase;
  border: #8c072c; }
