// Import variables and mixins.
@import "sass/abstracts/abstracts";
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
//@import "sass/base/base";

.wrap.ripple_wp {
    h1{
        text-align:center;
        color:$color__text-heading;
        font-size:3em;
    }

    h2{
        font-size:1.7em;
        line-height:1.3em;
    }

    h3{
        font-size:1.5em;
    }

    button{
        color:$color__white;
    }

    tr{
        font-size:1.4em;
    }

    th{
        padding:13px;
    }

    a{
        &.button.install_layout{
            border-radius:8px;
            background:#8c072c;
            color:#fff;
            text-transform:uppercase;
            border:#8c072c;
        }
    }
    
}

.options_page_grid{
    display:flex;
    flex-direction:column;
    
    @media screen and (min-width:768px){
        flex-direction: row;
    }

    .column{
        flex-grow:1;
        padding:15px;

        &.left{
            flex-basis: 70%;
        }

        &.right{
            min-width:150px;
        }
    }

    .changelog_wrapper{
        display:flex;
        flex-direction: column;

        @media screen and (min-width:500px){
            flex-direction: row;
        }

        .ripple_wp_changelog{
            flex-basis:50%;
        }
    }
}

.settings_tabs{
    margin-top:30px;
}

