h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1{
    //font-size:30px;
    font-size:2em;
    font-weight:400;

    &.site-title{
        font-size:30px;

        @media screen and (min-width:768px){
            font-size:35px;
        }

        @media screen and (min-width:992px){
            font-size:45px;
        }
    }

    a{
        text-decoration: none;
        color:$color__text-heading;
    }
}
