button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button, a.button {
    display: inline-block;
    padding: 0.6em 1em 0.4em;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: #fff;
	line-height: 1;
    cursor: pointer;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

a.button:hover{
    color:#fff;
}

button.menu-toggle{
    color:$color__black;
}
