//$color__background-body: #fff;

//$color__background-body: #e7f1f5;
$color__background-body: #ffffff;
$color__background-section: #424856;
/*$color__background-section: #ffffff;*/
$color__background-screen: #e7f1f5;
$color__background-hr: #292b26;
$color__background-button: #591B0C;
$color__background-pre: #292b26;
$color__background-ins: #292b26;
$color__background-header:#5fd3e2;

//$color__text-screen: #424856;
$color__text-screen: #292b26;
$color__text-input: #292b26;
$color__text-input-focus: #111;
$color__link: #d50943; 
$color__link-visited: #d50943; 
//$color__link-hover: #591B0C; 
$color__link-hover: #d50943;
$color__text-main: #292b26;

//$color__text-heading:#890c1d;
$color__text-heading:#d50943;

$color__border-button: #e7f1f5 #e7f1f5 #bbb;
$color__border-button-hover: #e7f1f5 #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #e7f1f5;
$color__border-abbr: #666;

$color__black: #000;

$color__white: #fff;

$color__menu_link:#292b26;
